<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>Challenge 48h</title>
</head>
<body>
    <form action="/" method="POST">
        <input name="username" type="username" placeholder="username">
        <input name="password" type="password" placeholder="password">
        <input type="submit">
    </form> 
    <script src="assets/js/script.js"></script>
    <div>
        <div>
            <p class = "c username">chevre</p>
        </div>
        <div>
            <p class = "c username">mouton</p>
        </div>
        <div>
            <p class = "c username">lion</p>
        </div>
        <div>
            <p class = "c username">tigre</p>
        </div>
        <div>
            <p class = "c username">chat</p>
        </div>
        <div>
            <p class = "c username">chien</p>
        </div>
        <div>
            <p class = "c usurname">elephant</p>
        </div>
        <div>
            <p class = "c username">serpent</p>
        </div>
        <div>
            <p class = "c username">tortue</p>
        </div>
        <div>
            <p class = "c username">oiseau</p>
        </div>
        <div>
            <p class = "c username">requin</p>
        </div>
        <div>
            <p class = "c username">poisson</p>
        </div>
        <div>
            <p class = "c username">thon</p>
        </div>
        <div>
            <p class = "c username">saumon</p>
        </div>
        <div>
            <p class = "c username">autruche</p>
        </div>
        <div>
            <p class = "c username">pelican</p>
        </div>
        <div>
            <p class = "c username">zebre</p>
        </div>
        <div>
            <p class = "c username">girafe</p>
        </div>
        <div>
            <p class = "c username">verre</p>
        </div>
        <div>
            <p class = "c username">escargot</p>
        </div>
    </div>    
</body>
</html>