.ligne_1{
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    height: 100%;
}
#meliodas{
    width: 15%;
    height: auto;
}
#vador{
    width: 32%;
    height: auto;
}
#noblesse{
    width: 32%;
    height: auto;
}

.ligne2{
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    height: 100%;
}
#SNK{
    width: 32%;
    height: auto;
}


#asuna2{
    display: none;
}