.centrer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ligne_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
}
.encore_un_peu{
    display: none;
}
#kermit_haut_gauche{
    width: 150px;
    height: 150px;
}
#kermit_haut_centre{
    width: 150px;
    height: 150px;
}
#kermit_haut_droite{
    width: 150px;
    height: 150px;
}

.ligne2{
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    height: 100%;
}
#test{
    display: none;
}
#kermite_milieu_gauche{
    width: 150px;
    height: 150px;
}
#kermite_milieu_centre{
    width: 150px;
    height: 150px;
}
#kermite_milieu_droite{
    width:150px;
    height: 150px;
}
.troll{
    display: none;
}

.ligne3{
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    height: 100%;
}
#kermit_bas_gauche{
    width: 150px;
    height: 150px;
}
#kermit_bas_centre{
    width: 150px;
    height: 150px;
}
#kermit_bas_droite{
    width: 150px;
    height: 150px;
}

.kermit_cacher{
    display: none;
    width:150px;
    height: 150px;
}