<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/imghidden.css">
    <title>Challenge 48h | Groupe 9</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">

</head>
<body>
    <div class = "div-title">
        <p class="title">Trouver Kermit dorée :</p>
    </div>
    <div class="button-container">
        <a href = "#">
          <img src="../assets/img/kermit-1.jpg" alt="Image bouton 1">
        </a>
        <a href = "#">
            <img src="../assets/img/kermit-2.jpg" alt="Image bouton 1">
        </a>
        <a href = "#">
            <img src="../assets/img/kermit-3.jpg" alt="Image bouton 1">
        </a>
        <a href = "#">
            <img src="../assets/img/kermit-4.jpg" alt="Image bouton 1">
        </a>
    </div>
    <div class="button-container">
        <a href = "#">
          <img src="../assets/img/kermit-5.jpg" alt="Image bouton 1">
        </a>
        <a href = "#">
            <img src="../assets/img/kermit-6.jpg" alt="Image bouton 1">
        </a>
        <a href = "#">
            <img src="../assets/img/kermit-7.jpg" alt="Image bouton 1">
        </a>
        <a href="#">
            <img src="../assets/img/kermit-8.jpg" alt="Image bouton 1">
        </a>
    </div>
    <div class="button-container">
        <a href = "#">
          <img src="../assets/img/kermit-9.jpg" alt="Image bouton 1">
        </a>
        <a href = "#">
            <img src="../assets/img/kermit-10.jpg" alt="Image bouton 1">
        </a>
        <a href = "#">
            <img src="../assets/img/kermit-11.jpg" alt="Image bouton 1">
        </a>
        <a href = "#">
            <img src="../assets/img/kermit-12.jpg" alt="Image bouton 1">
        </a>
    </div>
    <div class="button-container">
        <!-- la ca va etre le lien de la bonne page normalement -->
        <a href = "/whoAmI">
            <img src="../assets/img/kermit-13.jpg" alt="Image bouton 1" class = "invisible">
          </a>
    </div>
</body>
</html>