<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>Challenge 48h</title>
</head>
<body>
    <form action="/" method="POST">
        <input name="username" type="username" placeholder="username">
        <input name="password" type="password" placeholder="password">
        <input type="submit">
    </form> 
    <script src="assets/js/script.js"></script>
    <div>
        <div>
            <p class = "c usurname">chevre</p>
        </div>
        <div>
            <p class = "c usurname">mouton</p>
        </div>
        <div>
            <p class = "c usurname">lion</p>
        </div>
        <div>
            <p class = "c usurname">tigre</p>
        </div>
        <div>
            <p class = "c usurname">chat</p>
        </div>
        <div>
            <p class = "c usurname">chien</p>
        </div>
        <div>
            <p class = "c username">elephant</p>
        </div>
        <div>
            <p class = "c usurname">serpent</p>
        </div>
        <div>
            <p class = "c usurname">tortue</p>
        </div>
        <div>
            <p class = "c usurname">oiseau</p>
        </div>
        <div>
            <p class = "c usurname">requin</p>
        </div>
        <div>
            <p class = "c usurname">poisson</p>
        </div>
        <div>
            <p class = "c usurname">thon</p>
        </div>
        <div>
            <p class = "c usurname">saumon</p>
        </div>
        <div>
            <p class = "c usurname">autruche</p>
        </div>
        <div>
            <p class = "c usurname">pelican</p>
        </div>
        <div>
            <p class = "c usurname">zebre</p>
        </div>
        <div>
            <p class = "c usurname">girafe</p>
        </div>
        <div>
            <p class = "c usurname">verre</p>
        </div>
        <div>
            <p class = "c usurname">escargot</p>
        </div>
    </div>    
</body>
</html>