<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/mountain.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Challenge 48h | Groupe 9</title>
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img id="image" src="assets/img/first.png" alt="image">
        </div>
        <div class="sliders">
            <label>Brightness</label>
            <input type="range" name="brightness" min="0" max="500" value="0" >
            <label>Contrast <span class="value"></span></label>
            <input type="range" name="contrast" min="0" max="500" value="0">
            <label>Saturate <span class="value"></span></label>
            <input type="range" name="saturate"  min="0" max="500" value="0">
            <label>Grayscale <span class="value"></span></label>
            <input type="range" name="grayscale" min="0" max="100" value="0">
            <label>Hue <span class="value"></span></label>
            <input type="range" name="hue" min="0" max="500" value="0">
            <label>Opacity <span class="value"></span></label>
            <input type="range" name="opacity" min="0" max="100" value="0">
            <label>sepia <span class="value"></span></label>
            <input type="range" name="sepia" min="0" max="500" value="0">
            <label>invert <span class="value"></span></label>
            <input type="range" name="invert" min="0" max="500" value="0">
        </div>
    </div>
    <script src="assets/js/mountain.js"></script>

</body>
</html>